
<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>CS 253 Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    CS 253 Blog
  </a>

  <div class="login-area">

      pratyush (<a class="login-link" href="/blog/logout">logout</a>)

  </div>

  <div id="content">
    <br><br>

    <div class="post">
  <div class="post-heading">
    <a href="/blog/{{blogid1}}" class="post-title">
      {{title1}}
    </a>

    <div class="post-date">
      {{date1}}
    </div>
  </div>

  <div class="post-content">
	{{content1}}
  </div>
</div>
    <br><br>


    <div class="post">
  <div class="post-heading">
    <a href="/blog/{{blogid2}}" class="post-title">
      {{title2}}
    </a>

    <div class="post-date">
      {{date2}}
    </div>
  </div>

  <div class="post-content">
	{{content2}}
  </div>

      <br><br>

      <div class="post">
    <div class="post-heading">
      <a href="/blog/{{blogid3}}" class="post-title">
        {{title3}}
      </a>

      <div class="post-date">
        {{date3}}
      </div>
    </div>

    <div class="post-content">
  	{{content3}}
  </div>

      <br><br>

      <div class="post">
    <div class="post-heading">
      <a href="/blog/{{blogid4}}" class="post-title">
        {{title4}}
      </a>

      <div class="post-date">
        {{date4}}
      </div>
    </div>

    <div class="post-content">
  	{{content4}}
  </div>

      <br><br>

      <div class="post">
    <div class="post-heading">
      <a href="/blog/{{blogid5}}" class="post-title">
        {{title5}}
      </a>

      <div class="post-date">
        {{date5}}
      </div>
    </div>

    <div class="post-content">
  	{{content5}}
  </div>

      <br><br>

      <div class="post">
    <div class="post-heading">
      <a href="/blog/{{blogid6}}" class="post-title">
        {{title6}}
      </a>

      <div class="post-date">
        {{date6}}
      </div>
    </div>

    <div class="post-content">
  	{{content6}}
  </div>

      <br><br>

      <div class="post">
    <div class="post-heading">
      <a href="/blog/{{blogid7}}" class="post-title">
        {{title7}}
      </a>

      <div class="post-date">
        {{date7}}
      </div>
    </div>

    <div class="post-content">
  	{{content7}}
  </div>

      <br><br>

      <div class="post">
    <div class="post-heading">
      <a href="/blog/{{blogid8}}" class="post-title">
        {{title8}}
      </a>

      <div class="post-date">
        {{date8}}
      </div>
    </div>

    <div class="post-content">
  	{{content8}}
  </div>

      <br><br>

      <div class="post">
    <div class="post-heading">
      <a href="/blog/{{blogid9}}" class="post-title">
        {{title9}}
      </a>

      <div class="post-date">
        {{date9}}
      </div>
    </div>

    <div class="post-content">
  	{{content9}}
  </div>

      <br><br>

      <div class="post">
    <div class="post-heading">
      <a href="/blog/{{blogid10}}" class="post-title">
        {{title10}}
      </a>

      <div class="post-date">
        {{date10}}
      </div>
    </div>

    <div class="post-content">
  	{{content10}}
  </div>

      <br><br>

 <div class="age">
    {{age}}
  </div>

  </div>
</body>

</html>
