<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>CS 253 Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    CS 253 Blog
  </a>

  <div class="login-area">

      pratyush (<a class="login-link" href="/blog/logout">logout</a>)

  </div>

  <div id="content">

  <div class="post">
  <div class="post-heading">
    <a href="{{blogurl}}" class="post-title">
      {{subject}}
    </a>

    <div class="post-date">
      {{date}}
    </div>
  </div>

  <div class="post-content">
    {{content}}
    </div>
</div>

<div class="age">
   	{{age}}
  </div>

  </div>
</body>

</html>
