<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Edit Wiki</title>
</head>

<body>

  <div class="login-area">
      <a class = "view" href="{{wikiurl}}">view</a>
      |
      {% if user %}
	        {{user}} (<a class="login-link" href="/wiki/logout">logout</a>)
      {% endif %}
  </div>
<br><br>
 <form method="post">
      <table>


        <tr>
          <td>
            <textarea name="content" rows="13" cols="100" >{{content}}</textarea>
          </td>
        </tr>

      </table>

      <input type="submit" value="Save">
    </form>

</body>

</html>
